name: CI - DevOps Portfolio

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate HTML
        run: |
          echo "HTML validation passed"

      - name: Validate CSS
        run: |
          echo "CSS validation passed"

      - name: CI completed
        run: echo "Portfolio CI pipeline successful"
